defaults: &defaults
  adapter: mysql2
  encoding: utf8
  reconnect: true
  pool: 30
  timeout: 5000
  database: <%= ENV['DB_NAME'] %>
  username: <%= ENV['DB_USER'] %>
  password: <%= ENV['DB_PASSWD'] %>
  host: <%= ENV['DB_HOST'] %>
development: 
  <<: *defaults
qa:
  <<: *defaults
production:
  <<: *defaults
test:
  <<: *defaults
  database: <%= "#{ENV['DB_NAME']}_test" %>
